* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

        /*Fixos*/

body {
    font-weight: bold;
    background-color: #fff;
}

button {
    width: 140px;
    height: 70px;
    border-radius: 18px;
    border: 0;
    margin: 10px;
    color: #000000;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bolder;
}


#header{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    font-size: 1.1em;
    text-align: center;
    line-height: 100px;
    margin: 2.5rem auto;
}

.tabela {
    width: 1000px;
    user-select: none;
    border-spacing: 0px 15px;
    text-align: center;
    user-select:none;
    border-collapse:separate;
    margin: 30px auto;
}                                                                       

main {
    max-width: 1200px;
    color: black;
    margin: 30px auto;
    border-radius: 120px 120px 0px 0px;
    background-color: #f3c2eb;
}

main>h2{
    margin: 4rem 0px 0px 7rem;
}

#cadastroCliente {
    width: 95vw;
    max-width: 1100px;
    height: 374px;
    position: relative;
    color: black;
    background-color: #f3c2eb;
    margin: auto;
    border-radius: 220px 220px 220px 220px;
}
#cadastroCliente>h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 1.7rem;
}
#cadastroCliente>div {
    padding: 40px 66px 0px 315px;
}
#cadastroCliente input {
    display: block;
    width: 90vw;
    max-width: 500px;
    height: 30px;
    border-radius: 100px;
    border: 2px solid black;
    margin: 10px 0px 10px 0px;
    outline: none;
    padding-left: 20px;
}

        /*Modal*/

.modal {
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    opacity: 0;
    user-select: none;
    transition: all .3s;
}

.modal-content {
    width: 50vw;
    margin: 15vh auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}

